@import "assets/variables.scss";


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{

    .content-section{
        background-color: $color-primary-background;
        height: 1000px;
        margin:3.5%;
    }
}